.map {
    margin-top:50px;
    height: 350px;
    width: 100%;
}
.marcadores{
    width: 3px;
    height: 3px;
    }

#ubi{
    color:brown;
    font-size: 40px;
    margin-top: 60px;
    text-align: center;

}