body{
font-family: Georgia, 'Times New Roman', Times, serif;
margin: 0;
border: 0;

background-color: rgb(39,174,96);
background-image: url("../img/fondo.jpg");

}


.menu{ display: inline-block;
list-style: none;
}

header a {
    color: white;
    text-decoration: none;
}
body {
    padding-left: 2rem;
    padding-right: 2rem;
}
header{
    padding: 2 rem ;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    list-style: none;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    display: block;
    padding: 0.5rem  1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.menu ul li a:hover {
    background-color: ghostwhite;
}
.menu{
    padding: 1rem;
}
footer{
    padding: 4rem;
    text-align: center;
    display: inline;
    align-items: center;
}
#imagen{
        width: 500px;
        padding: 2rem;
    }
section div {display:inline;}
.principal {
    display:flex;
    justify-content: space-between;
}
.elementoprincipal{
    text-align: right;
    padding: 2rem;
}
#canasta{
    padding:unset;
}

/*prod_maceteros*/
.menu_prod ul li {
    display: inline-block;
    margin: 10px 80px;
    font-size:22px;
    padding:8px;
    background-color: white;
    color: black;
    }
figure{
    margin: 30;
    display: inline-block;
    position: relative;
    border: 5px solid yellowgreen
}
.imagen_mac{
    width: 170px;
    height: 170px;
    margin: 15px 17px;
}
figcaption{
    position:static;
}

/*prod_sustratos*/
.menu_prod ul li {
    display: inline-block;
    margin: 10px 80px;
    font-size:22px;
    padding:8px;
    background-color: white;
    color: black;
    }
figure{
    margin: 30;
    display: inline-block;
    position: relative;
    border: 5px solid yellowgreen
}
.imagen_sust{
    width: 170px;
    height: 170px;
    margin: 15px 17px;
}
figcaption{
    position:static;
}

/*prod_flores*/
.menu_prod ul li {
    display: inline-block;
    margin: 10px 80px;
    font-size:22px;
    padding:8px;
    background-color: white;
    color: black;
}
figure{
    margin: 30;
    display: inline-block;
    position: relative;
    border: 5px solid yellowgreen
}
.imagen_flores{
    width: 170px;
    height: 170px;
    margin: 15px 17px;
}
figcaption{
    position:static;
}

/*prod_arbustos*/
.menu_prod ul li {
    display: inline-block;
    margin: 10px 80px;
    font-size:22px;
    padding:8px;
    background-color: white;
    color: black;
}
figure{
    margin: 30;
    display: inline-block;
    position: relative;
    border: 5px solid yellowgreen
}
.imagen_arb{
    width: 170px;
    height: 170px;
    margin: 15px 17px;
}
figcaption{
    position:static;
}

/*macetero_rojo*/
.menu_prod2 ul li {
    display: inline-block;
    margin: 0px 160px;
    font-size:22px;
    padding:8px;
    background-color: white;
    color: black;
}
.izquierda{
    float:left;
    width: 170px;
    height: 170px;
    padding:15px;
    margin: 15px 150px;
    margin: 50;
    position:static;
    border: 5px solid yellowgreen
}
#colorh1{
    color:white;
}
#colorh2{
    color:white;
}
#colorh4{
    color:white;
}

/*Calificacion estrellas*/
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  #form p {
    text-align:center;
  }
  #form label {
    font-size: 20px;
  }
  input[type="radio"] {
    display: none;
  }
  label {
    color: white;
  }
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  label:hover,
  label:hover ~ label {
    color: black;
  }
  input[type="radio"]:checked ~ label {
    color: black;
  }
.calificacion{
    display:inline-block;
    padding-right: 600px;
    margin: 15px 150px;
    margin: 50;
    position:static;
    border: 2px solid green
}
#coment{
    float:right;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px 5px;
    position:relative;
    border: 5px solid yellowgreen
}
