body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    border: 0;
    background-image: url("../img/spring-floral-border-background.jpg");
    background-color: rgb(39,174,96);
    
    }
    
    
    .menu{ display: inline-block;
    list-style: none;
    }
    
    header a {
        color: white;
        text-decoration: none;
    
    }
    
    body {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top:  1rem;
    
    }
    
    header{
        padding: 2 rem ;
       
    }
    
    .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav button img {
        width: 2rem;
    }
    
    .menu ul{
        list-style: none;
    }
    .menu ul li {
        display: inline-block;
    }
    
    .menu ul li a {
        display: block;
        padding: 0.5rem  1rem;
        transition: all 0.4s linear;
        border-radius: 5px;
      
    }
    
    nav a:hover {
        background-color:lightgreen;
        border-radius: 1rem;
    }
    
    .menu{
        padding: 1rem;
        justify-items: flex;
    }
    
    footer{
        padding: 4rem;
        
        text-align: center;
        display: inline;
        align-items: center;
    }
    
    
    #imagen{
            width: 500px;
            padding: 2rem;
        }
    
    
    section div {display:inline;}
    
    .principal {
        display:flex;
        justify-content: space-between;
    
    }
    .elementoprincipal{
        text-align: right;
        padding: 2rem;
    }
    #canasta{
        padding:unset;
    }
    
    
    .font{
        font-family: 'Crete Round', serif;
        text-align: right;
        align-items: center;
       
    }
    
    nav {
        margin-bottom: 2rem;
        margin-top: 0.5rem;}
    
    .tamanologo{ width: 6rem ;
    margin: 0%;}
    
    article h5 {
        font-family: 'Crete Round', serif;
        text-align: center;
        padding: 4rem;
    }
    
    #botonproducto {border-bottom: 4rem;
    text-align: right;
    
    margin-top: 3rem;}


.container {
    width: 100%;
    }

/*productos*/

.card-title{
    text-align: center;

}
.card-deck{
    display: flex;
}
.card-text{
    text-align: center;
}
.card-body{
    background-color: antiquewhite;
    margin: 5px 5px;
    font-size: 14px; margin: 10px;
}
.card-footer{
    text-align: center;
}

/*macetero_rojo*/
.img-rounded{
    float:right;
    margin: 20px 20px;
    width: 300px;
    height: 300px;
    border: 5px solid yellowgreen
}
#colorh1{
    color:white;
}
#colorh2{
    color:white;
}
#colorh4{
    color:white;
}
@media (min-width: 576px){
.col-sm2{
    float:left;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

@media (min-width: 576px){
    .col-sm{
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
.input-group{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

#suscripcion{
    color:brown;
}

#but_sus{
    background-color: beige;
    text-align: center;
    padding:5px; 
    color:#222; 
    font-size: 14px; margin: 10px;


/*carrito*/
.carrito{
    margin: 0px 80px;
    display: inline-block;
    position: relative;
    text-decoration: underline  2px solid black;
    padding: 5px;
}
.izq_carr{
    float:left;
    width: 20px;
    height: 20px;
    padding:15px;
    margin: 10px 80px;
    margin: 20;
    position:static;
    border: 5px solid yellowgreen
}

