
{% extends 'core/base.html'%}
{% load static %}

{% block title %}Carrito{% endblock %}


    {% block content %}
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-2"></div>
          <div class="col-md-8" >
            <div class="card text-center border-warning mb-3" style="max-height: 18rem;">
              <div class="card-body">
                <h4 class="card-title">Carrito de compras</h4>
              </div>
            </div>
          </div>
        <div class="col-md-2"></div>
      </div> 
    </div>
    <div>
      <div>
        <table class="table table-success table-striped">
            <thead>
              <tr>
                <th scope="col" class="prod_carr">Producto</th>
                <th scope="col"  class="prod_carr">Precio</th>
                <th scope="col"  class="prod_carr">Cantidad</th>
                <th scope="col"  class="prod_carr">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><p class="bol">Macetero Rojo</p> </th>
                <td scope="row"><p>$11.990</p></td> 
                <td scope="row"><p>001</p></td>
                <td scope="row"><p>$11.990</p></td>
              </tr>
              <tr>
                <th scope="row"><p class="bol">Tulipanes Amarillos</p> </th>
                <td scope="row"><p>$  8.990</p></td> 
                <td scope="row"><p>001</p></td>
                <td scope="row"><p>$  8.990</p></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class= "container">
      <div class="row">
          <div class="col-sm">
            <hr style="color: green" size="20" />
            <h3 class="res">RESUMEN</h3>
            <br>
            <h3 class="res">Subtotal: $ 20.980.-</h3>
            <br>
            {% comment %} <p class="mens">"Los códigos de descuento y los costos de envío se agregarán durante el pago."</p> {% endcomment %}
            <br>
            <button class= "btn btn-primary"  type="submit"><a class="letra_link" href="pago">MODIFICAR DIRECCIÓN DESPACHO</a></button>
            <br>
             <br>
            <p class="mens">"Los códigos de descuento y los costos de envío se agregarán durante el pago."</p>

            <br>
            <button class= "btn btn-success"  type="submit"><a class="letra_link" href="pago">IR A PAGAR</a></button>
            <br>
            <br>
            <p class="mens"> Al hacer click en "Ir a pagar" estas aceptando nuestros <a href="terminos_condiciones"> términos y condiciones </a></p>
          </div>
      </div>
    </div>
    {% endblock %}