{% extends 'core/base.html'%}

{% block title %}Croposma{% endblock %}
{% load static %}

    {% block content %}
       <small class="text-muted"><a href="prod_arbustos.html" class="btn btn-outline-success">Regresar a Arbustos</a></small>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img class="img-rounded" src="{% static 'core/img/Coprosma.jpg'%}" alt="Cinque Terre" >
                </div>
                <div class="col-sm2">
                    <h1>Croposma por unidad</h1>
                    <small class="text-muted"><a href="stock.html" class="button"><h5>Ver stock</h5></a></small>
                    <br>
                    <h2>$11.990</h2>
                    <br>
                    <small class="text-muted"><a href="canasto_compras.html" class="btn btn-success">Agregar al carro</a></small>
                    <br>
                    <br>
                    <h4 class="desc">Descripción</h4>
                    <p class="det">Croposma por unidad, arbusto de porte elegante para jardín o macetas.</p>
                </div>
        
            </div>
        <div>
    {% endblock %}



    
