
{% extends 'core/base.html'%}

{% block title %}Seguimiento{% endblock %}
{% load static %}

    {% block content %}
        <section class="centrar">
      <div class= "row align-items-center" >
        <div class="col-lg-2" ></div>
        <div class="col-lg-8" >
          <div class="card text-center border-warning mb-3" style="max-height: 18rem;">
            <div class="card-body">
              <h4 class="card-title">Sigue tu compra</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-2" ></div>
      </div>
        <br>

        <form class="row g-4 needs-validation" action="" novalidate action="procesar.php" enctype="multipart/form-data"
            method="post" NAME="Nuevo_usuario" id="form">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                    <label for="email" class="form-label">Ingresa tu email <span>(requerido)</span></label>
                    <input type="email" name="email" class="form-control" placeholder="Ej: nombre@mail.com" id="email">
                <div class="alert alert-danger hide" role="alert" name="emailAlert">
                    Debes completar el email
                </div>
            </div>
            <div class="col-md-4">
              <label for="numberPhone" class="form-label">Ingresa tu número de seguimiento <span>(requerido)</span></label>
              <input type="text" name="numberPhone" class="form-control" placeholder="Ej: 45983466" id="numberPhone">
            </div>
            <div class="col-md-2"></div>
            <div></div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <input type="submit"  id="btnvalida" class="form-control btn btn-success btn-lg" id="sendform1"  value="REVISAR">
            </div>
            <div class="col-md-4">
                <input type="reset" class="form-control btn btn-success btn-lg" value="LIMPIAR">
            </div>
            <div class="col-md-2"></div>

            
        </form>
    </section>
    
    {% endblock %}



    
