
{% extends 'core/base.html'%}

{% block title %}Modificar-Direccion{% endblock %}
{% load static %}

 {% block content %}

  <section class="centrar container col-12" >
    
   
        <form method="post" action ="" id="formulario"   >
            {% csrf_token %}
            <div class="form-group row col-md-6 form-label inline" >
         
            {{ form.as_table}}
            </div>

           <div class="col-md-6">

                <input type="submit"  id="btnvalida" class="form-control btn btn-warning" id="sendform1"  value="ENVIAR">
                

            </div>
            <div class="col-md-6">
                <input type="reset" class="form-control btn btn-warning" value="LIMPIAR">
            </div>

        </form>
            <div>
            {{ message }}
        </div>
     </div>
       
      </section>
    {% endblock %}

   