{% extends 'core/base.html'%}

{% block title %}Modificar{% endblock %}
{% load static %}

 {% block content %}

  <section class="centrar container col-12 row" >
    
   
        <form method="post" action ="" id="formulario"   >
            {% csrf_token %}
            <div class="form-group row col-md-6 form-label inline" >
         
            {{ form.as_table}}
            </div>

           <div class="col-md-6">

                <input type="submit"  id="btnvalida" class="form-control btn btn-danger" id="enviar"  value="Modificar">
                

            </div>
            <div class="col-md-6">
                <input type="reset" class="form-control btn btn-warning" id ="reset" value="LIMPIAR">
            </div>
              <div class="col-md-6">
                <div id ="error" class="alert alert-danger" role="alert">
            </div>
        </form>
            <div>
            {{ message }}
        </div>
     </div>
       
      </section>
    {% endblock %}
