
{% extends 'core/base.html'%}

{% block title %}Liliums{% endblock %}
{% load static %}

    {% block content %}
             <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img class="img-rounded" src="assets/img/Liliums.png" alt="Cinque Terre" >
                </div>
                <div class="col-sm2">
                    <h1>Liliums 12 unidades</h1>
                    <small class="text-muted"><a href="stock" class="button"><h5>Ver stock</h5></a></small>
                    <br>
                    <h2>$16.990</h2>
                    <br>
                    <small class="text-muted"><a href="carrito" class="btn btn-success">Agregar al carro</a></small>
                    <br>
                    <br>
                    <h4 class="desc">Descripción</h4>
                    <p class="det">Pack 12 unidades de Liliums</p>
                </div>
        
            </div>
 

    {% endblock %}


   

        


    
