
{% extends 'core/base.html'%}

{% block title %}Macetero Gris{% endblock %}
{% load static %}

    {% block content %}
 <small class="text-muted"><a href="prod_maceteros" class="btn btn-outline-success">Regresar a Maceteros</a></small>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img class="img-rounded" src="assets/img/Mac gris.jpg" alt="Cinque Terre" >
                </div>
                <div class="col-sm2">
                    <h1>Deco Macetero Gris</h1>
                    <small class="text-muted"><a href="stock" class="button"><h5>Ver stock</h5></a></small>
                    <br>
                    <h2>$7.990</h2>
                    <br>
                    <small class="text-muted"><a href="carrito" class="btn btn-success">Agregar al carro</a></small>
                    <br>
                    <br>
                    <h4 class="desc">Descripción</h4>
                    <p class="det">Macetero Slant bajo gris</p>
                </div>
        
            </div>
    {% endblock %}


   

        


    

    



    
