
{% extends 'core/base.html'%}

{% block title %}Macetero Amarillo{% endblock %}
{% load static %}

    {% block content %}
<section>
        <small class="text-muted"><a href="prod_maceteros.html" class="btn btn-outline-success">Regresar a Maceteros</a></small>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img class="img-rounded" src="{% static 'core/img/Mac amarillo.jpg'%}" alt="Cinque Terre" >
                </div>
                <div class="col-sm2">
                    <h1>Deco Macetero Amarillo</h1>
                    <small class="text-muted"><a href="stock.html" class="button"><h5>Ver stock</h5></a></small>
                    <br>
                    <h2>$9.990</h2>
                    <br>
                    <small class="text-muted"><a href="canasto_compras.html" class="btn btn-success">Agregar al carro</a></small>
                    <br>
                    <br>
                    <h4 class="desc">Descripción</h4>
                    <p class="det">Macetero Elba amarillo 17x17 cm</p>
                </div>
        
            </div>
        <div>
        </section>
    {% endblock %}


   

        


    

    
