

      
{% extends 'core/base.html'%}

{% block title %}Pago{% endblock %}
{% load static %}

    {% block content %}
    
            <div class= "container">
                <div class="row">
                    <div class="col-sm">
                        <form action="#" class="credit-card-div">
                            <div class="panel panel-default" >
                                <div class="panel-heading">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <H2>TARJETA DE CRÉDITO</H2>
                                            <BR>
                                            <input type="text" class="form-control" placeholder="Ingresa número de tarjeta" />
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <span class="help-block text-muted small-font" > Expiry Month</span>
                                            <input type="text" class="form-control" placeholder="Mes" />
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <span class="help-block text-muted small-font" >  Expiry Year</span>
                                            <input type="text" class="form-control" placeholder="Año" />
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <span class="help-block text-muted small-font" >  CCV</span>
                                            <input type="text" class="form-control" placeholder="CCV" />
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <img src="assets/img/credit_card.jpg" class="tamanologo" />
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-12 pad-adjust">
                                            <input type="text" class="form-control" placeholder="Nombre de la tarjeta" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 pad-adjust">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" checked class="text-muted"> Guardar información para pago rápido <a href="#"> Aprender cómo?</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                            <button class= "btn btn-danger"  type="submit"><a class="letra_link" href="carrito.html">CANCELAR</a></button>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                            <input type="submit"  class="btn btn-warning btn-block" value="PAGAR AHORA" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm">
                        <form action="#" class="credit-card-div">
                            <div class="panel panel-default" >
                                <div class="panel-heading">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <H2>TARJETA DE DÉBITO</H2>
                                            <BR>
                                            <input type="text" class="form-control" placeholder="Ingrese banco" />
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-12 pad-adjust">
                                            <input type="text" class="form-control" placeholder="Ingrese rut" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 pad-adjust">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" checked class="text-muted"> Guardar información para pago rápido <a href="#"> Aprender cómo?</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                            <button class= "btn btn-danger"  type="submit"><a class="letra_link" href="carrito.html">CANCELAR</a></button>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                            <input type="submit"  class="btn btn-warning btn-block" value="PAGAR AHORA" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>                 
                    </div>
                </div>    
            </div>    

    {% endblock %}


   

        


    

    



    


    
