{% extends 'core/base.html'%}

{% block title %}Productos_Recomendados{% endblock %}
{% load static %}

    {% block content %}
     
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-2"></div>
          <div class="col-md-8" >
            <div class="card text-center border-warning mb-3" style="max-height: 18rem;">
              <div class="card-body">
                <h4 class="card-title">Productos Recomendados</h4>
              </div>
            </div>
          </div>
        <div class="col-md-2"></div>
      </div> 
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-2"></div>
          <div class="col-md-4">
            {% if maceteros %}
            {% for mac in maceteros %}
              <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div>
                  <img class="card-img-top" src="{{mac.imagenMacetero}}" alt=""> 
                </div>
                      <div>
                          <h6 class="card-title">Nombre producto: {{mac.colorMacetero}}</h6>
                          <p class="card-text">ID producto: {{mac.idMacetero}}</p>
                          <p class="card-text">Stock: {{mac.stockMacetero}}</p>
                          <p class="card-text">Precio: ${{mac.precioMacetero}}</p>
                      </div>
              </div>
            {% endfor %}

            {% else %}
            <h1> No hay registro de productos</h1>

            {% endif %}
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4">
            {% for arb in arbustos %}
              <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div>
                  <img class="card-img-top" src="{{arb.imagenArbusto}}" alt=""> 
                </div>
                      <div>
                          <h6 class="card-title">Nombre producto: {{arb.nombreArbusto}}</h6>
                          <p class="card-text">ID producto: {{arb.idArbusto}}</p>
                          <p class="card-text">Stock: {{arb.stockArbusto}}</p>
                          <p class="card-text">Precio: ${{arb.precioArbusto}}</p>
                      </div>
              </div>
            {% endfor %}
          </div>
          <div class="col-md-1"></div>
          <div class="container">
      <div class="row align-items-center">
        <div class="col-md-2"></div>
          <div class="col-md-4">
            {% if flores %}
            {% for flo in flores %}
              <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div>
                  <img class="card-img-top" src="{{flo.imagenFlor}}" alt=""> 
                </div>
                      <div>
                          <h6 class="card-title">Nombre producto: {{flo.nombreFlor}}</h6>
                          <p class="card-text">ID producto: {{flo.idFlor}}</p>
                          <p class="card-text">Stock: {{flo.stockFlor}}</p>
                          <p class="card-text">Precio: ${{flo.precioFlor}}</p>
                      </div>
              </div>
            {% endfor %}

            {% else %}
            <h1> No hay registro de productos</h1>

            {% endif %}
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4">
            {% if sustratos %}
            {% for sus in sustratos %}
              <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div>
                  <img class="card-img-top" src="{{sus.imagenSustrato}}" alt=""> 
                </div>
                      <div>
                          <h6 class="card-title">Nombre producto: {{sus.tipoSustrato}}</h6>
                          <p class="card-text">ID producto: {{sus.idSustrato}}</p>
                          <p class="card-text">Stock: {{sus.stockSustrato}}</p>
                          <p class="card-text">Precio: ${{sus.precioSustrato}}</p>
                      </div>
              </div>
            {% endfor %}
            {% else %}
            <h1> No hay registro de productos</h1>

            {% endif %}
          </div>
          <div class="col-md-1"></div>


    {% endblock %}



