


{% extends 'core/base.html'%}

{% block title %}Arbustos{% endblock %}
{% load static %}

    {% block content %}
   <div>
            <small class="text-muted"><a href="index.html#menuproductos" class="btn btn-outline-success">Regresar a productos</a></small>
        </div>
        <br>
        <div class="container">    
            <div class="row g-2">
                <div class="card text-center border-warning mb-3" style="max-height: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">Arbustos</h4>
                    </div>
                </div>  
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/img/Coprosma.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title">Coprosma por unidad</h6>
                            <p class="card-text">$11.990</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><a href="coprosma" class="btn btn-primary">Ver producto</a></small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/img/Ceratostigma.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h6 class="card-title">Ceratostigma por unidad</h6>
                        <p class="card-text">$14.990</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><a href="Ceratostigma" class="btn btn-primary">Ver producto</a></small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/img/Diosma.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h6 class="card-title">Diosma por unidad</h6>
                        <p class="card-text">$15.990</p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted"><a href="Diosma" class="btn btn-primary">Ver producto</a></small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/img/leonotis.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h6 class="card-title">Leonoti por unidad</h6>
                        <p class="card-text">$9.990</p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted"><a href="leonotis" class="btn btn-primary">Ver producto</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}


   

        


    

    



    


    




