
        
    

{% extends 'core/base.html'%}

{% block title %}Flores{% endblock %}
{% load static %}

    {% block content %}
         <div>
            <small class="text-muted"><a href="index.html#menuproductos" class="btn btn-outline-success">Regresar a productos</a></small>
        </div>
        <br>
        <div class="container">    
            <div class="row g-2">
                <div class="card text-center border-warning mb-3" style="max-height: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">Flores</h4>
                    </div>
                </div>  
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/img/Tulipanes.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Tulipanes - 12 unidades</h6>
                                <p class="card-text">$23.990</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted"><a href="tulipanes" class="btn btn-primary">Ver producto</a></small>
                            </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/img/Rosas.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Rosas - 12 unidades</h6>
                                <p class="card-text">$14.990</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted"><a href="rosas" class="btn btn-primary">Ver producto</a></small>
                            </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/img/Liliums.png" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Liliums - 12 unidades</h6>
                                <p class="card-text">$16.990</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted"><a href="liliums" class="btn btn-primary">Ver producto</a></small>
                            </div>
                    </div>
                </div>
                <div class="col-sm-3">
                        <div class="card">
                            <img class="card-img-top" src="assets/img/Girasoles.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Girasoles - 12 unidades</h6>
                                    <p class="card-text">$15.990</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"><a href="girasoles" class="btn btn-primary">Ver producto</a></small>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    {% endblock %}


   

        


    

    



    


    




