
{% extends 'core/base.html'%}

{% block title %}Maceteros{% endblock %}
{% load static %}

    {% block content %}
        <div>
            <small class="text-muted"><a href="index.html#menuproductos" class="btn btn-outline-success">Regresar a productos</a></small>
        </div>
        <br>
        <div class="container">    
            <div class="row g-2">
                <div class="card text-center border-warning mb-3" style="max-height: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">Maceteros</h4>
                    </div>
                </div>  
                    <div class="col-sm-3">
                        <div class="card">
                            <img class="card-img-top" id="macro" src="{% static 'core/img/Mac rojo.jpg'%}" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Deco Macetero Rojo</h6>
                                    <p class="card-text">$6.990</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"><a href="mac_rojo.html" class="btn btn-primary">Ver producto</a></small>
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'core/img/Mac negro.jpg'%}" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Deco Macetero Negro</h6>
                                    <p class="card-text">$8.990</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"><a href="mac_negro.html" class="btn btn-primary">Ver producto</a></small>
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'core/img/Mac gris.jpg'%}" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Deco Macetero Gris</h6>
                                    <p class="card-text">$7.990</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"><a href="mac_gris.html" class="btn btn-primary">Ver producto</a></small>
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'core/img/Mac amarillo.jpg'%}" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Deco Macetero Amarillo</h6>
                                    <p class="card-text">$9.990</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"><a href="mac_amarillo.html" class="btn btn-primary">Ver producto</a></small>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    {% endblock %}
