{% extends 'core/base.html'%}
{% load static %}


{% block title %}Resultados Búsqueda{% endblock %}


    {% block content %}


    <div class="container">
      <div class="row g-2">
        <div class="col-3"></div>
        <div class="col-6">
        <div>
            <h5 class="som">Resultado de la busqueda:</H5>
            <p class="somos">No has introducido nada, vuelve a intentarlo...</p>
        </div>
        <div class="col-3"></div>
      </div>
    </div>

    {% comment %} <h4> No has introducido nada, vuelve a intentarlo</h4> {% endcomment %}

    {% comment %} <button type="button" class="btn btn-warning"><a href="{% url 'index' %}">Regresar</a></button> {% endcomment %}




    {% endblock %}