
  
{% extends 'core/base.html'%}

{% block title %}Rosas{% endblock %}
{% load static %}

    {% block content %}
         
     <small class="text-muted"><a href="prod_flores" class="btn btn-outline-success">Regresar a Flores</a></small>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img class="img-rounded" src="assets/img/Rosas.jpg" alt="Cinque Terre" >
                </div>
                <div class="col-sm2">
                    <h1>Rosas 12 unidades</h1>
                    <small class="text-muted"><a href="stock" class="button"><h5>Ver stock</h5></a></small>
                    <br>
                    <h2>$14.990</h2>
                    <br>
                    <small class="text-muted"><a href="carrito" class="btn btn-success">Agregar al carro</a></small>
                    <br>
                    <br>
                    <h4 class="desc">Descripción</h4>
                    <p class="det">Pack 12 unidades de Rosas</p>
                </div>
        
            </div>
        <div>


     
       
    {% endblock %}



    
