
 

 
{% extends 'core/base.html'%}

{% block title %}Términos y condiciones{% endblock %}
{% load static %}

    {% block content %}
      <div class="container">
    <div class="row align-items-center">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card text-center border-warning mb-3" style="max-height: 18rem;">
          <div class="card-body">
            <h4 class="card-title">Términos y condiciones</h4>
          </div>
        </div>
        <BR>
        <H5>Aspectos generales</H5>
        <p style=text-align:justify;>El acceso y uso de este sitio web se rige por los términos y condiciones descritos
          a continuación, así como por la legislación que le fuere aplicable en la República de Chile y, en silencio de
          aquéllos o de ésta, por los estándares generalmente aceptados por el comercio electrónico. En consecuencia,
          todas las visitas y todas las compras y ventas que se realizaren en este sitio, como asimismo sus efectos
          jurídicos, quedarán regidos por estas reglas y sometidas a la legislación y a los estándares señalados. Los
          términos y condiciones aquí descritos se entenderán formar parte de todas las compras y ventas que se ejecuten
          o celebren mediante los sistemas de oferta y comercialización comprendidos en este sitio web entre los
          usuarios de este sitio, en adelante indistintamente también como el/los “Usuario/s”, el/los “Consumidor/es” o
          el/los “Cliente/s”, y Vive Verde, en adelante, la “Empresa”, la cual es titular y administradora del sitio web
          www.viveverde.cl, en adelante, el “sitio”. Es requisito esencial para comprar en el Sitio la aceptación de los
          Términos y Condiciones. Al aceptar estos Términos y Condiciones, los usuarios declaran haberse informado de
          manera clara, comprensible e inequívoca de los mismos, y que han tenido la posibilidad de almacenarlos e
          imprimirlos.</p>

          <H5>Entrega de tu pedido:</H5>
        <p style=text-align:justify;>Una vez realizada la validación de datos y confirmación de stock, el pedido se procesará y se realizarán los
          trámites necesarios para que los productos sean enviados a la dirección de despacho definida por el cliente.
          Al llegar el pedido, es requisito indispensable que el cliente o recepcionista del producto revise
          detalladamente, y una vez aceptada la entrega, ViveVerde entiende que el(los) producto(s) fue(ron)
          recibido(s) a plena conformidad y no dará derecho a reclamo posterior.
          El recepcionista del producto debe ser mayor de edad y, de ser requerido, presentar su cédula de
          identidad.
          En caso de no existir conformidad con la entrega, el cliente debe escribir antes de 24 horas un email a
          servicioalcliente@viveverde.cl de manera que ViveVerde pueda buscar una solución a la situación
          planteada.</p>

          <h5>Políticas de cambios:</h5>
          <P style=text-align:justify;>Si el producto que adquiriste tiene algún problema, tienes derecho a acceder a la garantía legal
          dentro de 3 meses a partir de la compra. Esto quiere decir que puedes elegir entre el cambio o
          devolución del dinero. Para realizar cambios de productos adquiridos en ViveVerde, debes escribir a
          servicioalcliente@viveverde.cl, indicando el número de pedido, el producto comprado y las razones para el
          cambio o devolución. Para solicitar cambio o la devolución de dinero, deberás coordinar el envío comunicándote
          previamente vía email a servicioalcliente@viveverde.cl. El producto debe venir en su empaque original,
          en perfecto estado físico y junto a su boleta. En caso de reembolso, éste se realizará
          dentro de los 20 días hábiles desde la solicitud, vía transferencia bancaria.</P>
          
          <h5>Garantía legal:</h5>
          <P style=text-align:justify;>Todo producto cuenta con una garantía legal de 3 meses en caso de falla del producto de
          acuerdo a la ley de protección al consumidor. La garantía del fabricante es entre 3 y 12 meses dependiendo del
          producto. Para hacer efectiva tu garantía, debes escribir a servicioalcliente@viveverde.cl detallando el
          número de orden y la falla del producto.
          AL MOMENTO DE HACER USO DE TU GARANTÍA, ES IMPORTANTE QUE CONSIDERES LO SIGUIENTE:
          Presentar la boleta de tu compra donde se mencione el producto con falla.
          El plazo de la garantía legal y del fabricante, rige desde la recepción del producto.</P>    

          <h5>Políticas de despacho:</h5>
          <p style=text-align:justify;>El costo de despacho a regiones en Chile tiene valor en pesos chilenos y dependerá del lugar de entrega
          elegido por el cliente en territorio continental vía empresa courier seleccionada.
          El tiempo de entrega es de 2 a 3 días hábiles para RM y 5-7 días hábiles para Regiones.
          En caso de Evento Cyber Monday y Cyber Day, el despacho a domicilio es entre 3 a 10 días hábiles en RM y 10 a
          12 días hábiles para Regiones.</p>


          <h5>Representante legal:</h5>
          <p style=text-align:justify;>Nuestro sitio web está administrado por Vive Verde S.A., Rol único Tributario N° 78.888.888-8,
          debidamente representada por don Brandy Copito, cédula de identidad N° 19.222.222-2</p>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
 

       
    {% endblock %}



    
