{% extends 'core/base.html'%}

{% block title %}Tierra de Compost{% endblock %}
{% load static %}

    {% block content %}
       <small class="text-muted"><a href="prod_sustratos.html" class="btn btn-outline-success">Regresar a Sustratos</a></small>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img class="img-rounded" src="{% static 'core/img/Tierra compost.jpg'%}" alt="Cinque Terre" >
                </div>
                <div class="col-sm2">
                    <h1>Tierra de Compost</h1>
                    <small class="text-muted"><a href="stock.html" class="button"><h5>Ver stock</h5></a></small>
                    <br>
                    <h2>$9.990</h2>
                    <br>
                    <small class="text-muted"><a href="canasto_compras.html" class="btn btn-success">Agregar al carro</a></small>
                    <br>
                    <br>
                    <h4 class="desc">Descripción</h4>
                    <p class="det">Sustrato de Compost, 100% reciclado y de alta calidad, hecho sólo con residuos orgánicos.</p>
                </div>
        
            </div>
        <div>

       
    {% endblock %}



        


    
