
       

{% extends 'core/base.html'%}

{% block title %}Tierra Biológica{% endblock %}
{% load static %}

    {% block content %}
         
 <small class="text-muted"><a href="prod_sustratos" class="btn btn-outline-success">Regresar a Sustratos</a></small>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img class="img-rounded" src="{% static 'core/img/Tierra Biológica.jpg'%}" alt="Cinque Terre" >
                </div>
                <div class="col-sm2">
                    <h1>Tierra Biológica</h1>
                    <small class="text-muted"><a href="stock" class="button"><h5>Ver stock</h5></a></small>
                    <br>
                    <h2>$6.990</h2>
                    <br>
                    <small class="text-muted"><a href="carrito" class="btn btn-success">Agregar al carro</a></small>
                    <br>
                    <br>
                    <h4 class="desc">Descripción</h4>
                    <p class="det">Sustrato de Tierra Biológica hecho a partir de la compostación de residuos orgánicos, libre de malezas</p>
                </div>
        
            </div>
        <div>
       
    {% endblock %}



    



    
