
{% extends 'core/base.html'%}

{% block title %}Tierra de Hoja{% endblock %}
{% load static %}

    {% block content %}
         <small class="text-muted"><a href="prod_sustratos.html" class="btn btn-outline-success">Regresar a Sustratos</a></small>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img class="img-rounded" src="assets/img/Tierra de hoja.jpg" alt="Cinque Terre" >
                </div>
                <div class="col-sm2">
                    <h1>Tierra de Hoja</h1>
                    <small class="text-muted"><a href="stock.html" class="button"><h5>Ver stock</h5></a></small>
                    <br>
                    <h2>$4.990</h2>
                    <br>
                    <small class="text-muted"><a href="canasto_compras.html" class="btn btn-success">Agregar al carro</a></small>
                    <br>
                    <br>
                    <h4 class="desc">Descripción</h4>
                    <p class="det">Sustrato de Tierra de Hoja para jardines y huertos</p>
                </div>
        
            </div>
        <div>

       
    {% endblock %}



        


    


    
